.box {
  margin-top: -8vw;
  margin-bottom: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 51vw;
  border-radius: 10px;
  margin-left: 25vw;
  background: linear-gradient(139.97deg, #171932 6.79%, #094d8a 161.73%);
  z-index: 2;
  text-align: center;
}
ul li {
  list-style: none;
}
ul li a {
  color: #ffffff;
  text-decoration: none;
}
#sponsor {
  margin-top: 5vw;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 4rem;
  color: #ffffff;
}

#brochure {
  height: 10vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #e5e5e5;
}
#download {
  width: 15vw;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  margin:auto;
  text-decoration: none;
  line-height: 2rem;
  background: #354089;
  padding: 1rem;
  border-radius: 50px;
  color: #ffffff;
}
ul{
    padding: 0 !important;
}

@media screen and (max-width: 600px) {
  .box {
    left: 2.5vw;
    margin-bottom: -15vw;
    width: 90vw;
    height: 50vw;
    margin-left: 2.5vw;
  }
  #sponsor {
    margin-top: -1vw;
    font-size: 7vw;
    line-height: 19vw;
  }
  #brochure {
    margin-top: -15vw;
    margin-left: -5vw;
    height: 10vh;
    font-size: 4vw;
    line-height: 7vw;
  }
  #download {
    margin-top: -20vw;
    width: 25vw;
    font-size: 3vw;
    line-height: 4vw;
    padding: 1rem;
    border-radius: 30px;
  }
}

@media screen and (max-width: 480px) {
  .box {
    margin-top: -30%;
  }
}