@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Baloo+Paaji+2:wght@400;500;600&family=Comfortaa:wght@400;500;600;700&family=Montserrat:wght@100;400;500&family=Quicksand:wght@300;400;500&family=Raleway:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

html {
  -webkit-font-smoothing: antialiased;
  --member-animation: all 0.35s cubic-bezier(0.14, 0.51, 0, 1);
  --details-color: rgb(236, 236, 236);
}

* {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

body {
  font-size: 14px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container .row:first-child {
  margin-top: 0px;
}

.section-heading {
  margin-bottom: 5px;
  margin-top: 60px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 400;
  user-select: none;
  text-align: center;
}

#teamHeading span {}

#team .team-description {
  margin: 0 auto;
}

#team .team-description h4 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  font-size: 18px;
  max-width: 500px;
  text-align: center;
}

#team h4 {
  font-size: 1.25rem;
  text-align: left;
  padding-top: 3rem;
  font-weight: 200;
  padding-bottom: 6rem;
  line-height: 1.618;
}

.container-year-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.container .row:last-child {
  margin-bottom: 0px;
}

.line {
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.fab:hover {}

@media only screen and (max-width: 565px) {
  .container .row:last-child {
    padding: 10px;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

p {
  line-height: 10px;
  margin-bottom: 0px;
}

h1+p, p+p {
  margin-top: 10px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 30px 30px 170px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-Bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 2s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.9;
}

.card-wrap:hover .Card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px;
}

.Card {
  position: relative;
  flex: 0 0 240px;
  width: 280px;
  height: 280px;
  background-color: #333;
  /* overflow: hidden; */
  border-radius: 10px 10px 0 0;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.2);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  justify-content: center;
}

.card-Bg {
  opacity: 1;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 2s 0s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
  box-sizing: unset !important;
}

.img-overflow {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card-info {
  padding: 15px;
  position: absolute;
  bottom: 0;
  color: #222;
  transform: translateY(100%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: rgba(255, 255, 255, 0.05) 0 0 40px 5px, rgba(0, 0, 0, 0.1) 0 30px 60px 0;
  background: #fff;
  width: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.card-info p {
  top: -15px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.container-cards a {
  opacity: 0;
  top: -70px;
  transition: .3s ease-out all;
  background: #fff;
  padding: 12px 20px;
  text-decoration: none;
  color: black !important;
  font-size: 18px;
  border-bottom: 1px solid #f3f3f5;
}

.container-cards a:nth-child(1) {
  transition: .5s ease-out all;
}

.container-cards a:nth-child(2) {
  transition: .8s ease-out all;
}

.container-cards a:nth-child(3) {
  transition: 1s ease-out all;
}

.fab {
  transition: inherit;
}

.card-wrap:hover a {
  opacity: 1;
}

a:hover .fa-linkedin {
  color: #0e76a8;
}

a:hover .fa-github {
  color: black;
}

a:hover .fa-twitter {
  color: #00acee;
}

p span {
  font-family: 'Comfortaa';
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info h1 {
  font-family: "Poppins";
  font-size: 18px;
  color: #222;
  font-weight: 700;
}

.team-center-heading {
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
}

.team-center-heading span {
  font-weight: 400;
}

.line {
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
}

.fab:hover {}

.flex-center-center{
  justify-content: center;
  align-items: center;
  display: flex;
}
.tile-post{
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}
.tile-post h2{
  font-family: montserrat;
}
.tile-post hr{
  width: 10%;
  border: 0;
  border-bottom: 2px solid #f23a2e;
  margin-left: 45%;
}

.page-footer h1{
  text-align: center !important;
  margin:0 auto;
}

.sub-para{
  line-height: 3ch;
}