.box
{
    margin-top: 5vw;
    margin-bottom: -4vw;
    display: flex;
  justify-content: center;
  align-items: center;
    position: relative;
    width: 51vw;
    height: 51vh;
   margin-left: 25vw;
    background: linear-gradient(139.97deg, #171932 6.79%, #094D8A 161.73%);
    z-index: 2;
}
ul li
{
    list-style: none;
    
}
ul li a
{
    color: #FFFFFF;
    text-decoration: none;
}
#sponsor
{
    height: 10vh;
    margin-top: 2vw;
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 4rem;
    padding-left: 8vw;   
    color: #FFFFFF;
}

#brochure
{
    height: 10vh;
    
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.4rem;
    
    color: #E5E5E5;
}
#download
{
    width: 15vw;
    height: 5vw;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
    

    line-height: 2rem;
    background: #354089;
    margin-left: 10vw;
   padding-top: 1.4rem;
   padding-bottom: 0.8rem;
   padding-left: 2.5rem;
    
    color: #FFFFFF;
    
}

@media screen and (max-width: 600px)
{
.box
{
    left: 2.5vw;
    margin-bottom: -15vw;
width: 90vw;
height: 50vw;
margin-left: 2.5vw;
}
#sponsor
{
margin-top: -1vw;
margin-left: -3vw;
height: 10vh;
font-size: 7vw;
line-height: 19vw;
}
#brochure
{
margin-top: -15vw;
margin-left: -5vw;
height: 10vh;
font-size: 4vw;
line-height: 7vw;
}
#download
{
    margin-top: -20vw;
    margin-left: 10vw;
    width: 25vw;
    height: 10vw;
font-size: 3vw;
line-height: 4vw;
padding-left: 1.5vw;
padding-top: 3vw;
padding-bottom: 3vw;
text-align: center;
}
}