<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Team Page | Asmita</title>

   <meta name="title" content="Asmita'21">
   <meta
      content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow."
      name="description" />
   <meta content="Asmita'21" name="author" />
   <meta content="Asmita'21, Asmita, sports, fest, IIITA, sports fest" name="keywords" />
   <meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
      name="viewport" />

   <meta name="owner" content="Asmita'21,asmita@iiita.ac.in">
   <meta name="reply-to" content="asmita@iiita.ac.in">
   <meta name="copyright" content="Asmita'21">

   <meta name="og:title" content="Asmita'21" />
   <meta name="og:type" content="website" />
   <meta name="og:url" content="https://asmita.iiita.ac.in/" />
   <meta name="og:image" content="" />
   <meta name="og:description"
      content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow." />

   <meta name="twitter:title" content="Asmita'21">
   <meta name="twitter:description"
      content="Asmita is the Annual Sports Fest of IIIT Allahabad. As one of the largest sports fests of India , it is a medium to promote sports and inculcate healthy sportsmanship in young minds in order to feed an arduous tomorrow.">
   <meta name="twitter:image" content="">
   <meta name="twitter:card" content="summary_large_image">

   <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/x-icon">
   <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">

   <script src="https://unpkg.com/vue"></script>
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/events.css">
   <link rel="stylesheet" href="../css/team.css">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

   <!-- Material Design Bootstrap -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">

   <!-- Font -->

   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

   <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link active" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="events.html">Events</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="sponsor.html">Sponsors</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Team</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="../gallery-folder/gallery.html">Gallery</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#footer">Contact</a>
            </li>
         </ul>
      </div>
   </nav>
   <div class="container-fluid img-team">
      <div class="" style="display: flex;justify-content: center;align-items: center;height: 100vh;">
         <p class="h1" style="color: white; font-weight: 700; font-size: 50px;text-align: center;">Meet The<span style="color: yellow;"> Team</span></p>
      </div>
   </div>

   <div id="app" class="container-cards bootstrap-off">

      <div class="tile-post">
         <h2>Faculty in-charge</h2>
         <hr>
      </div>
      <Card data-image="../assets/images/Team/suneel_sir.jpg">
         <h1 slot="header">Dr. Sunil Yadav</h1>
         <p slot="content">
            <a href="https://suneel31.webs.com/" target="__blank">
               <i class="fa fa-link" aria-hidden="true"></i>
            </a>
            <br>
            <span>Faculty in-charge, Sports</span>
         </p>
      </Card>
      
      <div class="tile-post">
         <h2>Board of Festival Organisers</h2>
         <hr>
      </div>
      <Card data-image="../assets/images/Team/harsh_bhardwaj.jpg">
         <h1 slot="header">Harsh Bhardwaj</h1>
         <p slot="content">
            <a href="https://www.instagram.com/im_harsh02/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100008376582133" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>President</span>
         </p>
      </Card>

      <Card data-image="../assets/images/Team/sahil_udaya_singh.jpg">
         <h1 slot="header">Sahil Udayasingh</h1>
         <p slot="content">
            <a href="https://www.instagram.com/_sahil_udayasingh/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/sahil.uday.5/" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>General Secretary</span>
         </p>
      </Card>

      <div class="tile-post">
         <h2>Sports Secretary</h2>
         <hr>
      </div>
      <Card data-image="../assets/images/Team/pranjalmaurya.jpg">
         <h1 slot="header">Pranjal Maurya</h1>
         <p slot="content">
            <a href="https://www.instagram.com/prj.maurya1999/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/pranjal.maurya.148" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Sports Secretary</span>
         </p>
      </Card>

      <div class="tile-post">
         <h2>Overall Coordinator</h2>
         <hr>
      </div>
      <Card data-image="../assets/images/Team/shivamkumar.jpg">
         <h1 slot="header">Shivam Kumar</h1>
         <p slot="content">
            <a href="https://www.instagram.com/shivammmmmkumar/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100013635911509" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>

            <br>
            <span>Overall Coordinator</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/vedprakashverma.jpg">
         <h1 slot="header">Ved Prakash Verma</h1>
         <p slot="content">
            <a href="https://instagram.com/__ved__prakash_?igshid=x8jtz074a3dk" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100010466678792" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Overall Coordinator</span>
         </p>
      </Card>

      <div class="tile-post">
         <h2>Heads</h2>
         <hr>
      </div>

      <Card data-image="../assets/images/Team/rohithmone.jpg">
         <h1 slot="header">Rohith Mone</h1>
         <p slot="content">
            <a href="https://www.instagram.com/rohith_mone/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/rohith.mone" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head Registrations</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/raushan2.jpeg">
         <h1 slot="header">Raushan Raj</h1>
         <p slot="content">
            <a href="http://www.instagram.com/raushanspeaks/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="http://www.facebook.com/raushaniiita/" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head Sponsorship</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/tushar_singh_parte.jpg">
         <h1 slot="header">Tushar Singh Parte</h1>
         <p slot="content">
            <a href="https://www.instagram.com/tushaaar__/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/tushar.niftyy" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head Web</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/jyotiahari.jpg">
         <h1 slot="header">Jyoti Ahari </h1>
         <p slot="content">
            <br>
            <span>Head Media & Publicity</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/ritik_harchani.jpg">
         <h1 slot="header">Ritik Harchani</h1>
         <p slot="content">
            <a href="https://www.instagram.com/_harchani_/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/ritikh/" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head App</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/swarnamsinha.jpg">
         <h1 slot="header">Swarnam Sinha</h1>
         <p slot="content">
            <a href="https://www.instagram.com/swara_9t7/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/swarnam.sinha.3" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head PR</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/mohammedaadil.jpg">
         <h1 slot="header">Mohammed Aadil</h1>
         <p slot="content">
            <a href="https://www.instagram.com/just_aadilx_x/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://m.facebook.com/mohammed.aadil.520" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head Registrations</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/pujakumari.jpg">
         <h1 slot="header">Puja Kumari</h1>
         <p slot="content">
            <a href="https://www.instagram.com/p.pratichi/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/puja.pratichi" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head H&T</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/PRABHA_KUMARI.jpg">
         <h1 slot="header">Prabha Kumari</h1>
         <p slot="content">
            <a href="https://www.instagram.com/pyadav.10/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/prabha.yadav.7923030" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head Media</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/milan_bhuva.jpg">
         <h1 slot="header">Milan Ashvinbhai Bhuva</h1>
         <p slot="content">
            <a href="https://www.instagram.com/mb557_" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/mb557" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head H&T</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/manish-tomar.jpeg">
         <h1 slot="header">Manish Tomar</h1>
         <p slot="content">
            <a href="https://www.instagram.com/manishtomar770/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100017667766802" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Head E&M</span>
         </p>
      </Card>

      <div class="tile-post">
         <h2>Executives</h2>
         <hr>
      </div>
      <Card data-image="../assets/images/Team/GarvitChittora.jpg">
         <h1 slot="header">Garvit Chittora</h1>
         <p slot="content">
            <a href="https://www.instagram.com/garvit_chittora_07/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/garvit.chittora.90/" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Webd</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/vishwassingh.jpg">
         <h1 slot="header">Vishwaas Pratap Singh</h1>
         <p slot="content">
            <a href="https://www.instagram.com/singhvishu2618/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/urstrulyvishu" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Webd</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/mitishaagarwal.jpg">
         <h1 slot="header">Mitisha Agarwal </h1>
         <p slot="content">
            <a href="https://www.instagram.com/_mitisha__/?hl=en" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/mitisha.agarwal.374/" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Webd</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/VARUNBHARDWAJ.jpg">
         <h1 slot="header">Varun Bhardwaj </h1>
         <p slot="content">
            <a href="https://instagram.com/varunnbhardwaj" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/varunbhardwaj.064" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Appd</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/ASHISHTYAGI.jpg">
         <h1 slot="header">Ashish Tyagi</h1>
         <p slot="content">
            <a href="https://www.instagram.com/tyagi_ji20/?hl=en" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100010310561520" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive E&M</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/hritikchauhan.jpg">
         <h1 slot="header">Hritik Chauhan</h1>
         <p slot="content">
            <a href="https://instagram.com/h.r.i.t.i.k_c.h.a.u.h.a.n?igshid=jh87as7xugc5" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100008774072325" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Media & Publicity</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/mayurkumar.jpg">
         <h1 slot="header">Mayur Kumar</h1>
         <p slot="content">
            <a href="https://www.instagram.com/macaws.mayur/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100039960009655" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive E&M</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/biswajeet_das.jpg">
         <h1 slot="header">BISWA</h1>
         <p slot="content">
            <a href="https://www.instagram.com/athe1stb/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/Athe1stB/" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive E&M</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/tushar_kumar.jpg">
         <h1 slot="header">Tushar Kumar</h1>
         <p slot="content">
            <a href="https://www.instagram.com/commander_official_/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100038056486934" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive E&M</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/PrabhnoorSingh.jpg">
         <h1 slot="header">Prabhnoor singh </h1>
         <p slot="content">
            <a href="https://www.instagram.com/prabhno0r/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/prabhnoor.singh.3348390" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Sponsorship</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/chaitanyajoshi.jpg">
         <h1 slot="header">Chaitanya Joshi</h1>
         <p slot="content">
            <a href="https://www.instagram.com/horseman_droid/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://m.facebook.com/chaitu.joshi.9?ref=page_internal" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Media & Publicity</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/PAVIKACHAUDHARY.jpg">
         <h1 slot="header">Pavika Chaudhary</h1>
         <p slot="content">
            <a href="https://www.instagram.com/_pavika__/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://drive.google.com/open?id=1qG1NIJR-HHhPLRXeYYI7XSisNfOqqo-8" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Media & Publicity</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/devangbharti.jpg">
         <h1 slot="header">Devang Bharti</h1>
         <p slot="content">
            <a href="https://www.instagram.com/horseman_droid/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100032970291400" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive H&T</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/ALKATRIVEDI.jpg">
         <h1 slot="header">Alka Trivedi</h1>
         <p slot="content">
            <a href="https://www.facebook.com/alka.trivedi.549/" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive H&T</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/ashishkanoujia.jpg">
         <h1 slot="header">Ashish Kanoujia</h1>
         <p slot="content">
            <a href="https://www.instagram.com/ash_kan_2401/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/ashish.kanoujia.14" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive H&T</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/adityasinghmachhaiya.jpg">
         <h1 slot="header">Aditya Singh Machhaiya</h1>
         <p slot="content">
            <a href="https://www.instagram.com/aditya.machhaiya/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/aditya.machhaiya" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Filming</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/HarshMeena.jpg">
         <h1 slot="header">Harsh Meena</h1>
         <p slot="content">
            <a href="https://www.instagram.com/harshy_2212/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100009386086709" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive E&M</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/SNEHAGUPTA.jpg">
         <h1 slot="header">Sneha Gupta </h1>
         <p slot="content">
            <a href="https://www.instagram.com/_snehaa_1010/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100040352081569" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Creatives</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/priyabhagat.jpg">
         <h1 slot="header">Priya Bhagat </h1>
         <p slot="content">
            <a href="https://instagram.com/_priiya._____?igshid=iyxyldv4vovc" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100040375114023" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Creatives</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/saisurajvenkata.jpg">
         <h1 slot="header">Sai suraj </h1>
         <p slot="content">
            <br>
            <span>Executive Registrations</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/ankitchauhan.jpg">
         <h1 slot="header">Ankit Chauhan </h1>
         <p slot="content">
            <a href="https://www.instagram.com/invites/contact/?i=1q43xfycz2vxu&utm_content=83khqvp" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/anki.chauhan.712" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Registrations</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/niteshrawat.jpg">
         <h1 slot="header">Nitesh Rawat </h1>
         <p slot="content">
            <a href="https://www.instagram.com/?hl=bn" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://m.facebook.com/nitesh.rawat.5682?ref=bookmarks" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Registrations</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/SIDDHANTDEEPAKKHOBRAGADE.jpg">
         <h1 slot="header">Siddhant Khobragade </h1>
         <p slot="content">
            <a href="https://www.instagram.com/siddhantdrk/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/siddhant.khobragade.330" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive Appd</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/ritukiranmurmu.jpg">
         <h1 slot="header">Ritu Kiran Murmu </h1>
         <p slot="content">
            <a href="https://www.instagram.com/ritu_murmu/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <br>
            <span>Executive Sponsorship</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/vasugupta.jpg">
         <h1 slot="header">Vasu Gupta </h1>
         <p slot="content">
            <a href="https://www.instagram.com/vasugupta_26/?hl=en" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://m.facebook.com/vasu.gupta.140?ref=bookmarks" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive PR</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/yash.jpg">
         <h1 slot="header">Yash Kamalaskar </h1>
         <p slot="content">
            <a href="https://www.facebook.com/profile.php?id=100005977246665" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive PR</span>
         </p>
      </Card>
      <Card data-image="../assets/images/Team/kaushal_kapoor.jpg">
         <h1 slot="header">Kaushal Kumar </h1>
         <p slot="content">
            <a href="https://www.instagram.com/kaushal_kapoor_089/" target="__blank">
               <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/kaushal.kapoor.923" target="__blank">
               <i class="fa fa-facebook"></i>
            </a>
            <br>
            <span>Executive H&T</span>
         </p>
      </Card>
   </div>

   <!-- Footer -->
   <footer class="page-footer bg-color" id="footer">

      <div class="text-center text-md-left mt-5">
         <br>
         <div class="row">
            <h1 class="important contact" style="text-align: center;">Contact Us</h1>
         </div>
         <br>
         <div class="row">

            <div class="col-md-3 mx-auto mb-4">
               <h1 class="important sub-head-contact">Address</h1> <br>

               <p class="mt-2 sub-para"><i class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Asmita Headquarters<br>
                  IIIT-Allahabad,Jhalwa,Uttar Pradesh-211015</p>
            </div>

            <div class="col-md-2 mx-auto" style="padding:0;"> 
               <h1 class="important  sub-head-contact" >Phone</h1> <br>
               <p class="mt-2 sub-para" ><i class="fas fa-calendar-check"></i>&nbsp;&nbsp;Overall Coordinator:<br>
                           +91 9027251768 - Shivam Kumar</p>
               <p class="mt-2 sub-para" ><i class="fas fa-calendar-check"></i>&nbsp;&nbsp;Overall Coordinator:<br>
                       +91 9571135661 - Ved Prakash Verma</p>
           </div>

            <div class="col-md-2 mx-auto mb-4">
               <h1 class="important  sub-head-contact">Email</h1> <br>

               <p class="mt-2 sub-para" style="text-align: center;"><i class="fa fa-envelope"
                     aria-hidden="true"></i>&nbsp;&nbsp;asmita@iiita.ac.in</p>
            </div>

            <div class="col-md-3 mx-auto mb-4">
               <h1 class="important  sub-head-contact">Follow Us</h1> <br>
               <div style="display:flex; justify-content: center;">
                  <a href="https://www.facebook.com/asmitaiiita" target="_blank" class="link"><i
                        class='fa fa-facebook-f'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="https://www.instagram.com/asmita_iiita/" target="_blank" class="link"><i
                        class='fa fa-instagram'></i></a>
               </div>
            </div>
         </div>
      </div>
   </footer>

   <script src="../js/team.js"></script>
   <script src="../js/index.js"></script>
   <!-- <script src="../js/data.js"></script> -->

</body>

</html>